In [2]:
#librerias
import pandas as pd
import numpy as np

In [3]:
#hacer una grafica de

In [4]:
#cargar archivos
df_final = pd.read_csv("../datos/procesado/df_final.csv")
df_transado =pd.read_csv("../datos/procesado/df_despacho_agg.csv")

In [22]:
df_transado["daily_eq_demand"].describe()

count    3.888000e+03
mean     9.465688e+06
std      1.114707e+06
min      6.916520e+06
25%      8.519658e+06
50%      9.510600e+06
75%      1.038452e+07
max      1.192678e+07
Name: daily_eq_demand, dtype: float64

In [12]:
#daily avalaible quantity mean
df_final_daily = (
    df_final
    .groupby('Fecha')
    .agg({
        'cantidad_pos': 'sum',   # suma
        'precio': 'mean'         # promedio
    })
    .reset_index()
)

df_final_daily[["precio","cantidad_pos"]].describe()

           precio  cantidad_pos
count  117.000000  1.170000e+02
mean   458.018612  3.549415e+08
std     16.124628  1.566325e+07
min    379.880659  3.251945e+08
25%    447.395000  3.427716e+08
50%    456.108339  3.567482e+08
75%    467.871793  3.665501e+08
max    498.835058  3.858039e+08

In [15]:
archivo_bolsa = "../datos/raw/Preciodebolsahorario.csv"
df_bolsa = pd.read_csv(archivo_bolsa, sep=",", encoding="utf-8")
df_bolsa_filtrado = df_bolsa[
    (df_bolsa["CodigoVariable"] == "PB_Nal") |
    (df_bolsa["Version"] == "TXF")
]

,CodigoVariable,FechaHora,CodigoDuracion,UnidadMedida,Version,Valor
0,PB_Int,2025-06-01 00:00:00,PT1H,COP/kWh,TX2,193.75
1,PB_Int,2025-06-01 01:00:00,PT1H,COP/kWh,TX2,193.75
2,PB_Int,2025-06-01 02:00:00,PT1H,COP/kWh,TX2,193.75
3,PB_Int,2025-06-01 03:00:00,PT1H,COP/kWh,TX2,193.75
4,PB_Int,2025-06-01 04:00:00,PT1H,COP/kWh,TX2,193.75
...,...,...,...,...,...,...
59443,PB_Tie,2025-05-18 19:00:00,PT1H,COP/kWh,TXF,106.39
59444,PB_Tie,2025-05-18 20:00:00,PT1H,COP/kWh,TXF,106.39
59445,PB_Tie,2025-05-18 21:00:00,PT1H,COP/kWh,TXF,106.39
59446,PB_Tie,2025-05-18 22:00:00,PT1H,COP/kWh,TXF,102.64
59447,PB_Tie,2025-05-18 23:00:00,PT1H,COP/kWh,TXF,102.64

In [23]:
df_bolsa_filtrado["Valor"].describe()

count    27600.000000
mean       153.590278
std        127.437081
min         95.060000
25%        105.070000
50%        109.310000
75%        127.380000
max       2224.410000
Name: Valor, dtype: float64

In [17]:
# numero plantas
df_final.groupby("Fecha")["CodigoPlanta"].nunique().reset_index(name="n_planta")['n_planta'].value_counts()

n_planta
79    117
Name: count, dtype: int64

In [19]:
df_transado['FechaHora'] = pd.to_datetime(df_transado['FechaHora'])
# Extraer solo la fecha
df_transado['Fecha'] = df_transado['FechaHora'].dt.date
# Agrupar por fecha (suma)
df_daily = df_transado.groupby('Fecha')['daily_eq_demand'].sum().reset_index()

In [20]:
# 1. Extraer solo la fecha
df_bolsa_filtrado["Fecha"] = pd.to_datetime(df_bolsa_filtrado["FechaHora"]).dt.date
# 2. Agrupar por Fecha y hacer promedio de Valor
df_daily_bolsa = (
    df_merged.groupby("Fecha")["Valor"]
    .mean()
    .reset_index(name="mean_valor")
)

df_daily_bolsa

C:\Users\HP\AppData\Local\Temp\ipykernel_46644\3711710585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bolsa_filtrado["Fecha"] = pd.to_datetime(df_bolsa_filtrado["FechaHora"]).dt.date

NameError: name 'df_merged' is not defined

In [44]:
df_daily_bolsa['Fecha'] = pd.to_datetime(df_daily_bolsa['Fecha'])
start = pd.Timestamp("2025-04-01")
end   = pd.Timestamp("2025-09-09")


df_daily_bolsa = df_daily_bolsa[
    (df_daily_bolsa["Fecha"] >= start) &
    (df_daily_bolsa["Fecha"] <= end)
].copy()

In [35]:
start = pd.Timestamp("2025-04-01")
end   = pd.Timestamp("2025-09-09")



df_merged["Fecha"] = pd.to_datetime(df_merged["Fecha"])

df_merged2 = df_merged[
    (df_merged["Fecha"] >= start) &
    (df_merged["Fecha"] <= end)
].copy()

In [36]:
df_merged2[['FechaHora', 'Valor', 'cantidad_pos','daily_eq_demand']]

                FechaHora    Valor  cantidad_pos  daily_eq_demand
0     2025-07-24 00:00:00   111.95   14605560.00          8975940
1     2025-07-24 01:00:00   111.95   14632230.00          8670300
2     2025-07-24 02:00:00   111.95   14629750.00          8479780
3     2025-07-24 03:00:00   111.95   14638000.00          8375590
4     2025-07-24 04:00:00   112.27   14646000.00          8497020
...                   ...      ...           ...              ...
14251 2025-08-28 19:00:00  2218.51   13698992.52         11611160
14252 2025-08-28 20:00:00   503.76   13714567.79         11456300
14253 2025-08-28 21:00:00   398.76   13660693.41         10508100
14254 2025-08-28 22:00:00   353.76   13719237.25          9921170
14255 2025-08-28 23:00:00   353.76   13955845.32          9258280

[14256 rows x 4 columns]

In [27]:
df_merged

,CodigoVariable,FechaHora,CodigoDuracion,UnidadMedida,Version,Valor,cantidad_pos,daily_eq_demand,Fecha
0,PB_Nal,2025-07-24 00:00:00,PT1H,COP/kWh,TX4,111.95,14605560.00,8975940,2025-07-24
1,PB_Nal,2025-07-24 01:00:00,PT1H,COP/kWh,TX4,111.95,14632230.00,8670300,2025-07-24
2,PB_Nal,2025-07-24 02:00:00,PT1H,COP/kWh,TX4,111.95,14629750.00,8479780,2025-07-24
3,PB_Nal,2025-07-24 03:00:00,PT1H,COP/kWh,TX4,111.95,14638000.00,8375590,2025-07-24
4,PB_Nal,2025-07-24 04:00:00,PT1H,COP/kWh,TX4,112.27,14646000.00,8497020,2025-07-24
...,...,...,...,...,...,...,...,...,...
14251,PB_Nal,2025-08-28 19:00:00,PT1H,COP/kWh,TXF,2218.51,13698992.52,11611160,2025-08-28
14252,PB_Nal,2025-08-28 20:00:00,PT1H,COP/kWh,TXF,503.76,13714567.79,11456300,2025-08-28
14253,PB_Nal,2025-08-28 21:00:00,PT1H,COP/kWh,TXF,398.76,13660693.41,10508100,2025-08-28
14254,PB_Nal,2025-08-28 22:00:00,PT1H,COP/kWh,TXF,353.76,13719237.25,9921170,2025-08-28
14255,PB_Nal,2025-08-28 23:00:00,PT1H,COP/kWh,TXF,353.76,13955845.32,9258280,2025-08-28